#LoginRegister {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.95);
  border-left: 0.2rem solid rgb(202, 214, 255);
}

#LoginRegister.deactive {
  transform: translate(130%, 0) skewX(-8deg);
  transition: 0.5s ease-in;
}

#LoginRegister.active {
  transform: translate(20%, 0) skewX(-8deg);
  transition: 0.5s ease-out;
}

#LoginRegister_forms {
  transform: skewX(8deg) translateX(25%) translateY(10rem);
}


#close_login_register {
  background: rgba(39, 187, 255, 0.3);
}

#close_login_register:hover {
  background: rgba(39, 187, 255, 1);
  padding-left: 2rem;
}

@media screen and (max-width: 1150px) {
  #LoginRegister.active {
    transform: translate(10%, 0) skewX(-8deg);
    transition: 0.5s ease-out;
  }

  #LoginRegister_forms {
    transform: skewX(8deg) translateX(30%) translateY(10rem);
  }
}

@media screen and (max-width: 1000px) {
  #LoginRegister.active {
    transform: translate(40%, 0) skewX(-8deg);
    transition: 0.5s ease-out;
  }

  #LoginRegister{
    width: 150vw;
  }

  #LoginRegister_forms {
    transform: skewX(8deg) translateX(20%) translateY(10rem);
  }
}

@media screen and (max-height: 900px) {
  #LoginRegister_forms {
    transform: skewX(8deg) translateX(27%) translateY(5rem);
  }
}

@media screen and (max-height: 900px) and (max-width: 1150px) {
  #LoginRegister_forms {
    transform: skewX(8deg) translateX(30%) translateY(5rem);
  }
}

@media screen and (max-height: 900px) and (max-width: 1000px) {
  #LoginRegister_forms {
    transform: skewX(8deg) translateX(20%) translateY(5rem);
  }
}
