.bg-image,
.bg-image-2 {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image {
  filter: blur(0.75rem);
  -webkit-filter: blur(0.75rem);
}

.bg-image-2 {
  filter: blur(0.25rem);
  -webkit-filter: blur(0.25rem);
}

.bg-text,
.bg-text-2,
.bg-text-3,
.bg-text-4 {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
}

.bg-text-4 {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.85);
}

.bg-text {
  text-align: center;
  width: 50%;
}

.bg-text-3 {
  text-align: center;
  width: 15%;
  top: 38%;
  left: 30%;
}

.bg-text.focused {
  width: 40%;
  transform: rotate(360deg);
  transition: 0.5s;
}

.bg-text.focused > p {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.bg-text.focused > h2 {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

@media screen and (max-width: 1550px) {
  .bg-text {
    width: 80%;
  }
}
